*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --clr-dark: rgb(13, 17, 19);
  --clr-light: #fff;
  --clr-accent: rgb(222, 52, 0);
  --clr-accent-dark: rgb(163, 38, 0);
  --clr-secondary: rgb(0, 76, 199);

  --br: 0.5em;

  --transition: transform 200ms cubic-bezier(0.21, 1, 0.81, 1);
}

body {
  font-family: sans-serif;
  min-height: 100vh;
  display: grid;
  place-items: center;
  background: var(--clr-dark);
  color: var(--clr-light);
}

.card {
  position: relative;
  width: 300px;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: top center;
  clip-path: url(#wave);
}
